
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-header py-3">
            <input type="file" id="Upload" value="Upload"/>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>FileName</th>
                            <th>Type</th>
                            <th>Upload Date</th>
                            <th>Upload Person</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="padding:0 0 0 0; border:0;">
                                @Html.DropDownList("Action", new List<SelectListItem>() {
                               new SelectListItem() {Text = "View", Value = "Action_View"},
                               new SelectListItem() {Text = "Download", Value = "Action_Download"},
                               new SelectListItem() {Text = "Delete", Value = "Action_Delete"},
                           })
                            </th>


                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

