USE [master]
GO
/****** Object:  Database [INS_ONL_010819]    Script Date: 8/1/2019 10:22:46 PM ******/
CREATE DATABASE [INS_ONL_010819]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INS_ONL_010819', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\INS_ONL_010819.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'INS_ONL_010819_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\INS_ONL_010819_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INS_ONL_010819].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INS_ONL_010819]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8/1/2019 10:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [uniqueidentifier] NULL,
	[Name] [nvarchar](100) NULL,
	[Dob] [date] NULL,
	[Age] [int] NULL,
	[Job] [nvarchar](20) NULL,
	[PayMoney] [int] NULL,
	[Duration] [int] NULL,
	[PayDuration] [int] NULL,
	[TaxPerYear] [int] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[BasicIns_quy] [nvarchar](50) NULL,
	[BasicIns_nuanam] [nvarchar](50) NULL,
	[BasicIns_nam] [nvarchar](50) NULL,
	[AdditemIns_quy] [nvarchar](50) NULL,
	[AddItemIns_nuanam] [nvarchar](50) NULL,
	[AddItemIns_nam] [nvarchar](50) NULL,
	[PayAdd_quy] [nvarchar](50) NULL,
	[PayAdd_nuanam] [nvarchar](50) NULL,
	[PayAdd_nam] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/1/2019 10:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [uniqueidentifier] NULL,
	[Type] [nvarchar](100) NULL,
	[Value] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insurance_AddNewCustomer]    Script Date: 8/1/2019 10:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
--	Name				Date			Description
--	thientc			01/08/2019			Tạo Customer
-- =============================================
CREATE PROCEDURE [dbo].[insurance_AddNewCustomer]
	-- Add the parameters for the stored procedure here
	@CustomerID uniqueidentifier,
	@Name nvarchar(100),
	@Dob date,
	@Age int,
	@Job nvarchar(20),
	@PayMoney int,
	@Duaration int,
	@PayDuration int,
	@TaxPerYear int
AS
BEGIN	
INSERT INTO Customer(CustomerID,Name,Dob,Age,Job,PayMoney,Duration,PayDuration,TaxPerYear) Output Inserted.CustomerID
VAlUES (@CustomerID,@Name,@Dob,@Age,@Job,@PayMoney,@Duaration,@PayDuration,@TaxPerYear)
END

GO
USE [master]
GO
